header{
	 background-color:#000;
	 
}

body{
	margin: 0;
}

.container{ 
	width: 940px;
	margin:0 auto;
	
}

.logo{
	width: 140px;
	height:35px;
	background-color: #ff8000;
	float:left;
	margin-top:8px;
	padding: 0;
	margin-right: 100px;
}

.container ul{
	float:left;
	padding: 0;

}

.container li{
	float:left;
	list-style-type: none;
	margin-right: 70px;

}
.clear{
	clear:both;
	margin:0px;
}

.banner{
	height: 485px;
	background-color: #71c4ea;
	margin-bottom: 64px;
}

.maincontent{
	text-align: center;
}

.maincontent h1{
	font-size: 36px;
	color:#444444;
	font-family: sans-serif;
	margin-bottom: 70px;
}
.circle{
 	width: 140px;
   	height: 140px;
   	background: #efefef; 
	border-radius: 50%;
	margin-right: 75px;
	float:left;
	margin-left: 12px;
	margin-right: 13px;
	margin-bottom: 20px;
}

.maincontent li{
	width: 165px;
	float:left;
	line-height: 20px;
	
}
	
a{
	text-decoration: none;
	padding: 16px 0px;
	font-family: sans-serif;
	font-size: 18px;
	color:#aaaaaa;
}

.maincontent a{
	text-decoration: none;
	color: #888888;
	font-size: 18px;
	font-family: sans-serif;
	padding: 0;
}
footer{
	background-color: #ececec;
	margin-top: 110px;
}

footer ul{
	float: left;
	padding: 0px;
	margin-left: 200px;

}
footer li{
	float:left;
	padding: 0px;
	margin-right: 20px;

}

footer a{
	text-decoration:none;
	font-family: sans-serif;
	font-size: 16px;
	color: #ff8000;
}

footer a:hover{
	color: #444444;
}