*{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
}
header{

	background-color: #000;
	margin-bottom: 20px;
}


form input{
	
	height: 35px;

}
header .navbar input{
	height: 30px;
	width: 156px;
}
footer .container{
	border-top:1px solid gainsboro;
	padding-top: 5px;
}

.spacing{
	margin-bottom: 40px;
}

.navbar.removemargin{
	margin-bottom: 0;
}
.grey_para{
color: grey;
}









